{% extends 'base.html.twig' %}

{%- block title -%}{{ article.pageTitle }} | {{ parent() }}{% endblock %}

{%- block meta_description -%}{{ article.metaDescription }}{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    {% for section in article.sections %}
        <div class="bb bw1 mb4">
            <h2>{{ section.title }}</h2>
            {% if section.type == 'quote_block' %}
                <p class="quote">{{ section.quote }}</p>
                <p><em>{{ section.citation }}</em></p>
            {% elseif section.type == 'text_block' %}
                <p>{{ section.text }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <p>
        <a class="bg-black hover-bg-blue white pa2 no-underline"
           href="{{ path('public_article_list', {'archive': article.archive.id}) }}"
        >{{ article.archive.title }} List</a>
    </p>
{% endblock %}
