{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ article.title }}</h1>
    {% for section in article.sections %}
        <div class="bb bw1 mb4 pb4">
            <h2>{{ section.title }}</h2>
            {% if section.type == 'quote_block' %}
                <p class="quote">{{ section.quote }}</p>
                <p><em>{{ section.citation }}</em></p>
            {% elseif section.type == 'text_block' %}
                <p>{{ section.text }}</p>
            {% elseif section.type == 'image_block' %}
                <figure class="ml0 mr0">
                    <img src="{{ vich_uploader_asset(section.image, 'imageFile') | imagine_filter('square_sml') }}" alt="{{ section.image.alt }}"/>
                    <figcaption class="i pt1">{{ section.image.caption }}</figcaption>
                </figure>
            {% endif %}
            <a class="bg-black hover-bg-blue white pa2 no-underline dib bn"
               href="{{ path('admin_section_edit', {'section': section.id}) }}"
            >Edit Section</a>
        </div>
    {% endfor %}
    <div class="bb bw1 pb2 mb4">
        <p><a class="bg-black hover-bg-blue white pa2 no-underline dib"
              href="{{ path('admin_section_new', {'article': article.id, 'type': 'text-block'}) }}"
            >Add Text Block</a> <a class="bg-black hover-bg-blue white pa2 no-underline dib"
                                   href="{{ path('admin_section_new', {'article': article.id, 'type': 'quote-block'}) }}"
            >Add Quote Block</a> <a class="bg-black hover-bg-blue white pa2 no-underline dib"
                                    href="{{ path('admin_section_new', {'article': article.id, 'type': 'image-block'}) }}"
            >Add Image Block</a>
        </p>
    </div>
    <p>
        <a class="bg-black hover-bg-blue white pa2 no-underline dib"
           href="{{ path('admin_archive_show', {'archive': article.archive.id}) }}"
        >Article List</a>
    </p>
{% endblock %}
